body{
height:100px;
width:500px;
display:flex;
justify-content:left;
align-items:left;
background:linear-gradient(to right,#FFD700,#fc466b) ;
 
}

form{
width:20rem;
height:40rem;
display:flex;
flex-direction:column;
background:rgba(255,255,255,0.06);
box-shadow:0 10px 32px 0 rgba(31,38,135,.37);
border-radius:30px;
border-left:1px solid rgpa(255,255,255,.3);
boder-top:0px solid rgpa(255,255,255,.3);

}


div {
  
 
 height:1px; 
 width:30px ;
 position:relative ;
  
 padding:1px 1px;
  
 margin: 100px ;


}


h3{
font-size:30px;
text-align:center;
color:white;
text-shadow:2px 2px 4px rgba(0,0,0,.2);
letter-spacing:3px;
margin-bottom:5%;
opacity:.7;
}

label{
font-size:20px;
color:white;
margin-left:10%;
opacity:.8;
text-shadow:2px 2px 4px rgba(0,0,0,.2);
}

input{
width:80%;
margin:1% auto;
border:none;
outline:none;
color;black;
border-bottop:1px solid rgba(255,255,255,0.6);
opacity:.8;
}

  


button{
width:50%;
margin:3% auto;
color:white;
font-size:15px;
opacity:.7;
background:rgba(255,255,255,0.6);
padding:10px 30px;
border:none;
outline:none;
border-radius:20px;
text-shadow:2px 2px 4px rgba(255,255,255,0.6);
box-shadow:2px 2px 4px rgba(31,38,135,.37);
border-left:2px 2px solid rgba(255,255,255,0.3);
border-top:2px 2px solid rgba(255,255,255,0.3);

}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 1;
  padding-top: 20px;
}




.right {
  right: 1;
 
}



.centered img {
  width: 300px;
  border-radius: 100%;
}